.container
  .row
    .col-md-12
      form.form-inline
        label(for="input")
          input#input(type="checkbox")
          span 点击这里试试看


script.
  //是否存在指定函数 
  function isExitsFunction(funcName) {
    try {
      if (typeof(eval(funcName)) == "function") {
          return true;
      }
    } catch(e) {}
    return false;
  }
  //是否存在指定变量
  function isExitsVariable(variableName) {
    try {
      if (typeof(variableName) == "undefined") {
        return false;
      } else {
        return true;
      }
    } catch(e) {}
    return false;
  }

  /**
   * 阻止冒泡引发的label内的chackbox、radio双击而导致的错误出现
   * @param Function fn 事件调用函数
   */
  function doubleclick(fn){
    var evTimeStamp = 0;
    return function(){
      var now = +new Date();
      if (now - evTimeStamp < 100) {
        return;
      }
      fn();
      evTimeStamp = now;
    }
  }

  /**
   * 函数节流方法
   * @param Function fn 延时调用函数
   * @param Number delay 延迟多长时间
   * @param Number atleast 至少多长时间触发一次
   * @return Function 延迟执行的方法
   */
  function throttle(fn, delay, atleast) {
    var timer = null;
    var previous = null;
    return function () {
      var now = +new Date();
      if ( !previous ) previous = now;
      if ( now - previous > atleast ) {
        fn();
        previous = now;
      } else {
        clearTimeout(timer);
        timer = setTimeout(function() {
          fn();
        }, delay);
      }
    }
  }



  var label = document.querySelectorAll('label')[0]
  label.onclick = doubleclick(testFn);
  function testFn(){
    console.log('---');
  }