link(rel="stylesheet", href="/asset/css/css-menu.css")

.menu
  label.formenu(for='menu')
  input.hideinput(id="menu" type="checkbox")
  ul
    li
      a(href="#") 关于我

    li
      a(href="#") 我的作品

    li
      a(href="#")  Lorem ipsum dolor sit amet, consectetur.

