link(rel="stylesheet", href="/asset/css/HV-center.css")

.no1
  .wrap
    .box no1 Lorem ipsum dolor sit amet, ecusandae id, assumenda sunt aperiam, ab perspiciatis rerum ex labore totam!

.no2
  .wrap
    .box no2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ducimus voluptates accusantium aliquid ratione pariatur possimus, voluptatibus nam sequi recusandae id, assumenda sunt aperiam, ab perspiciatis rerum ex labore totam!

.no3
  .wrap
    .box no3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ducimus voluptates accusantium aliquid ratione pariatur possimus, voluptatibus nam sequi recusandae id, assumenda sunt aperiam, ab perspiciatis rerum ex labore totam!

.no4
  .wrap
    .box no4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ducimus voluptates accusantium aliquid ratione pariatur possimus, voluptatibus nam sequi recusandae id, assumenda sunt aperiam, ab perspiciatis rerum ex labore totam!

.no5
  .wrap
    .box no5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ducimus voluptates accusantium aliquid ratione pariatur possimus, voluptatibus nam sequi recusandae id, assumenda sunt aperiam, ab perspiciatis rerum ex labore totam!

.no6
  .wrap
    .box no6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ducimus voluptates accusantium aliquid ratione pariatur possimus, voluptatibus nam sequi recusandae id, assumenda sunt aperiam, ab perspiciatis rerum ex labore totam!

