<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title 一个三列的布局
    link(rel="stylesheet", href="/asset/css/loyout.css")
  body
    h3 第一种方式
    .main
      .center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iure qui est aliquam, consequuntur animi alias quo. Iste, nam, facere accusamus minima, incidunt explicabo adipisci nulla repellendus ex placeat deserunt. Expedita doloribus cumque fugiat ipsa sunt distinctio odio reprehenderit tenetur, quos itaque, quam, veniam quaerat libero nihil quibusdam laboriosam repellendus quasi. Provident, repellendus. Beatae ea repellendus, eum est sint et laborum aliquam voluptatum distinctio accusantium perferendis. Modi ab maxime vel magni, iusto explicabo sed adipisci, voluptates velit quas esse dolores dolore nihil tenetur repudiandae sint, fuga suscipit illo culpa, expedita laborum cumque sunt. Quisquam perspiciatis pariatur ut obcaecati necessitatibus voluptatum.
      .left  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.
      .right  Lorem ipsum dolor sit amet,sit amet, consectetur adipisicing elit. Minima saepe asperiores nisi cum, molestiae doloribus illo expedita nemo illum officiis.

    hr
    h3 第二种方式
    .line
      .left  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.
      .right  Lorem ipsum dolor sit amet,sit ameLorem ipsum dolor sit amet,sit ameLorem ipsum dolor sit amet,sit ameLorem ipsum dolor sit amet,sit ame
      .center | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iure qui est aliquam, consequuntur animi alias quo. Iste, nam, facere accusamus minima, incidunt explicabo adipisci nulla repellendus ex placeat deserunt. Expedita doloribus cumque fugiat ipsa sunt distinctio odio reprehenderit tenetur, quos itaque, quam, veniam quaerat libero nihil quibusdam laboriosam repellendus quasi. Provident, repellendus. Beatae ea repellendus, eum est sint et laborum aliquam voluptatum distinctio accusantium perferendis. Modi ab maxime vel magni, iusto explicabo sed adipisci, voluptates velit quas esse dolores dolore nihil tenetur repudiandae sint, fuga suscipit illo culpa, expedita laborum cumque sunt. Quisquam perspiciatis pariatur ut obcaecati necessitatibus voluptatum.
    hr
    h3 第三种方式
    table.tablea
      tr
        td.left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.
        td.center
          div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quasi, fugit, accusantium ipsum, at omnis natus dignissimos minus, doloremque ratione dolorem. Sapiente dolore, aspernatur amet fugit doloribus molestiae, autem laudantium tempora pariatur aliquam sit quis optio, ab quo explicabo. Ad, nostrum, iusto. Quo eius quae placeat. Odio, eligendi quaerat dolorum, consectetur, consequatur aliquam commodi nihil sit aut quae iusto ab culpa labore sequi ratione quasi velit at dicta id! Temporibus laboriosam molestias a eum suscipit velit voluptate aspernatur esse magnam omnis animi exercitationem similique incidunt sapiente, quibusdam alias nihil? Ipsam animi hic nisi odit recusandae ullam earum, minima repellat accusantium!
        td.right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.


    hr
    h3 第四种方式
    .ta
      .left left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.
      .center
        div center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quasi, fugit, accusantium ipsum, at omnis natus dignissimos minus, doloremque ratione dolorem. Sapiente dolore, aspernatur amet fugit doloribus molestiae, autem laudantium tempora pariatur aliquam sit quis optio, ab quo explicabo. Ad, nostrum, iusto. Quo eius quae placeat. Odio, eligendi quaerat dolorum, consectetur, consequatur aliquam commodi nihil sit aut quae iusto ab culpa labore sequi ratione quasi velit at dicta id! Temporibus laboriosam molestias a eum suscipit velit voluptate aspernatur esse magnam omnis animi exercitationem similique incidunt sapiente, quibusdam alias nihil? Ipsam animi hic nisi odit recusandae ullam earum, minima repellat accusantium!
      .right right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.

    hr
    h3 第五种方式
    .flex
      .left left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.
      .center at omnis natus dignissimos minus, doloremque ratione dolorem. Sapiente dolore, aspernatur amet fugit doloribus molestiae, autem laudantium tempora pariatur aliquam sit quis optio, ab quo explicabo. Ad, nostrum, iusto. Quo eius quae placeat. Odio, eligendi quaerat dolorum, consectetur, consequatur aliquam commodi nihil sit aut quae iusto ab culpa labore sequi ratione quasi velit at dicta id! Temporibus laboriosam molestias a eum suscipit velit voluptate aspernatur esse magnam omnis animi exercitationem similique incidunt sapiente, quibusdam alias nihil? Ipsam animi hic nisi odit recusandae ullam earum, minima repellat accusantium!
      .right right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, odio.
