<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body

    div(style="background:#ccc;")
      h1(style="margin:100px 0 0 0;") 这个margin-top穿透了他的父元素。给他父元素BFC化后即可化解margin穿透。
    hr
    div(style="background:#ddd;display:inline-block;")
      h1(style="margin:100px 0 0 0;")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit necessitatibus doloremque beatae laborum neque, ab nisi! Blanditiis deleniti quam molestias accusamus porro mollitia sit earum iure reiciendis aperiam quas nulla, reprehenderit voluptatem repellat temporibus maiores qui quo in nobis cupiditate? Nesciunt mollitia libero repudiandae, recusandae architecto inventore dicta fugiat sint, modi dolor consequatur aliquid id minima cum, aspernatur quibusdam saepe consequuntur illum magnam! Consectetur, numquam a voluptatum nulla, placeat, cupiditate et non cumque praesentium beatae nam eius. Veritatis, eaque perspiciatis ex iusto dicta repellat aliquid tempora voluptas fugit eos quod temporibus repellendus minus sint quam ipsam, excepturi quisquam neque ea.


