<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body
    h1 look seajs

    script(src="/asset/js/sea.js")
    script.
      seajs.config({
        base:'/asset/js/',
        alias: {
          'jquery':'jquery-2.1.3.min.js'
        }
      });

      seajs.use('testsea')